{% extends 'base.html' %}

{% block content %}
    <h1 style="font-family: Arial, Helvetica, sans-serif;color: white;">Products</h1>
    <div class="row">
        {% for product in products %}
        <div class="column">
            <div class="card" style="width: 18rem;">
                
                <img class="card-img-top" src="{{ product.image_url }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a href="{% url 'product-detail' product.pk %}">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </a>
                    <p class="card-text">{{ product.price }}€</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="futbollisti">
      {% for futbollisti in futbollistis %}
        <p style="color: black;">{{  futbollisti.name }}</p>
    {% endfor %}
    </div>

    <div class="pagination">
        {% if products.has_previous %}
          <a href="?page=1" class="page-link">&laquo; First</a>
          <a href="?page={{ products.previous_page_number }}" class="page-link">Previous</a>
        {% endif %}
        
        {% for page_number in products.paginator.page_range %}
          {% if page_number == products.number %}
            <a href="?page={{ page_number }}" class="page-link current-page">{{ page_number }}</a>
          {% else %}
            <a href="?page={{ page_number }}" class="page-link">{{ page_number }}</a>
          {% endif %}
        {% endfor %}
        
        {% if products.has_next %}
          <a href="?page={{ products.next_page_number }}" class="page-link">Next</a>
          <a href="?page={{ products.paginator.num_pages }}" class="page-link">Last &raquo;</a>
        {% endif %}
      </div>
{% endblock %}
