{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="white-box">
          <div class="slider-container">
            <!-- Add your slider code here -->
            <main>
              <div class="section product panelContainer platformplaystation4" rel="830337">
                <!-- Code snippet goes here -->
              </div>
            </main>
          </div>
          <img src="{{ product.image_url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
      </div>
      <div class="col-md-8">
        <div class="white-box">
          <h1 class="product_name">{{ product.name }}</h1>
          <h2>{{ product.price }}</h2>
          <p>{{ product.description }}</p>
          {% if user.is_authenticated %}
            {% if product.stock > 0 %}
              <p style="color: green;">Available</p>
              <form action="{% url 'add_to_cart' product_id=product.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary">
                  <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_6efyjrm3.json" background="transparent" speed="1" style="width: 100px; height: 100px;" hover loop autoplay></lottie-player>
                  Add to cart
                </button> 
              </form>
            {% else %}
              <p style="color: red;">Out of stock</p>
            {% endif %}
          {% else %}
            <p>You need to be logged in to add this item to your cart. <a href="{% url 'login' %}">Log in</a></p>
          {% endif %}

          {% for futbollisti in futbollistis %}
          <li>{{ futbollisti.name }}</li>
      {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}
